<!DOCTYPE html>

<html class="no-js" lang="tr">
@await Component.InvokeAsync("_HeadComponent")

<body id="top">

    @await Component.InvokeAsync("_NavbarComponent")
    @await Component.InvokeAsync("_FeatureComponent")
    @await Component.InvokeAsync("_AboutComponent")
    @await Component.InvokeAsync("_PortfolioComponent")
    @await Component.InvokeAsync("_TestimonialComponent")
    @await Component.InvokeAsync("_StatisticComponent")
    @await Component.InvokeAsync("_ContactComponent")
    @await Component.InvokeAsync("_FooterComponent")
    <script src="~/hola-master/js/jquery-3.2.1.min.js"></script>
    <script src="~/hola-master/js/plugins.js"></script>
    <script src="~/hola-master/js/main.js"></script>

</body>

</html>