<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

@await Component.InvokeAsync("_HeadComponent")

<body id="top">

    <!-- header
    ================================================== -->
    @await Component.InvokeAsync("_NavbarComponent")
    <!-- end s-header -->
    <!-- home
    ================================================== -->
     @await Component.InvokeAsync("_FeatureComponent") <!-- end s-home -->
    <!-- about
    ================================================== -->
   @await Component.InvokeAsync("_AboutComponent") <!-- end about -->
    <!-- works
    ================================================== -->
    @await Component.InvokeAsync("_PortfolioComponent")
    <!-- end works -->
    <!-- testimonials
    ================================================== -->
    @await Component.InvokeAsync("_TestimonialComponent")
     <!-- end s-testimonials -->



    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_StatisticComponent") <!-- end s-stats -->
    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_ContactComponent")
    <!-- end s-contact -->

    <!-- footer
    @await Component.InvokeAsync("_FooterComponent")


    <!-- Java Script
    ================================================== -->
    <script src="~/hola-master/js/jquery-3.2.1.min.js"></script>
    <script src="~/hola-master/js/plugins.js"></script>
    <script src="~/hola-master/js/main.js"></script>

</body>

</html>